MVC+SOAP/MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNationalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NationalityDTO" nillable="true" type="tns:NationalityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNationalityDTO" nillable="true" type="tns:ArrayOfNationalityDTO" />
  <xs:complexType name="NationalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NationalityDTO" nillable="true" type="tns:NationalityDTO" />
  <xs:complexType name="ArrayOfStudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDTO" nillable="true" type="tns:StudentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDTO" nillable="true" type="tns:ArrayOfStudentDTO" />
  <xs:complexType name="StudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearsInUniversity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDTO" nillable="true" type="tns:StudentDTO" />
</xs:schema>